<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if g.title %}{{ g.title }}{% else %}撕乎{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/assets/semantic-ui/semantic.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="content-box" style="max-width: 900px; margin: auto;">
        <div class="ui menu">
            <div class="item"><b>撕乎</b></div>
            <a href="/" class="item">广场</a>
            <a href="/" class="item">关注</a>
            <div class="right menu">
                <div class="item">
                    <div class="ui action left icon input">
                        <i class="search icon"></i>
                        <input class="  text" placeholder="搜索">
                        <div class="ui button">搜索</div>
                    </div>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="ui pointing dropdown link item">
                        <img class="ui avatar image" src="/assets/img/kristy.png">
                        <div class="text">{{ current_user.name }}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/me" class="item">个人</a>
                            <a href="/me/messages" class="item">消息</a>
                            <a href="/me/settings" class="item">设置</a>
                            <div class="divider"></div>
                            <a href="/logout" class="item">登出</a>
                        </div>
                    </div>

                {% else %}
                    <a href="/login" class="item">登陆</a>
                    <a href="/register" class="item">注册</a>
                {% endif %}
            </div>
        </div>
        {% block main %}

        {% endblock %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/assets/semantic-ui/semantic.min.js"></script>
<script src="/assets/vuejs/vue.js"></script>
<script>
    $('.pointing.dropdown').dropdown({
        action: 'select'
    })
</script>
{% block scripts %}

{% endblock %}
</body>
</html>