<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室 - {{ room_name }}</title>
</head>
<body>
<div id="control">
    <div><a href="/plaza">返回</a></div>
    <div>聊天室 {{ room_name }}</div>
    <div>成员</div>
</div>
<ul id="messages"></ul>
<form action="">
    <input id="m" autocomplete="off"/>
    <button>Send</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/assets/semantic-ui/semantic.min.js"></script>
<script src="/assets/vuejs/vue.js"></script>
</body>
</html>