{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="front/css/login.css">
    <div class="login-form">
        <form action="login" method="post">
            <div class="form-group-lg">
                <input type="text" class="form-control" id="InputUsername" placeholder="Username">
                <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住我
                    </label>
                </div>
                <button type="submit" class="btn-lg btn-default">登陆</button>
            </div>
        </form>
    </div>
{% endblock %}