{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="assets/css/login.min.css">
    <div class="login-form">
        <form class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="用户名">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="密码">
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                    <label>记住我</label>
                </div>
            </div>
            <button class="ui button" type="submit">登陆</button>
        </form>
    </div>
{% endblock %}