{% extends 'base.html' %}

{% block main %}
    <link rel="stylesheet" href="/assets/css/profile.min.css">
    <div class="ui grid">
        <div class="four wide column left-column">
            <div class="ui card">
                <div class="image">
                    <img src="/assets/img/kristy.png">
                </div>
                <div class="content">
                    <a class="header">柳碧池</a>
                    <div class="meta">
                        <span class="date">Joined in 2016</span>
                    </div>
                    <div class="description">大二在读</div>
                </div>
                <div class="extra content">
                    <a><i class="user icon"></i> 22 Friends</a>
                </div>
                <div class="extra content">
                    <a><i class="user icon red"></i> 1024 Enemies</a>
                </div>
            </div>
        </div>
        <div class="twelve wide column right-column">
            <div class="ui segment recent-activities">
                <div class="ui top attached label">最近参与</div>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <div class="header">豆腐脑就应该是甜的</div>
                        咸味豆腐脑也配叫豆腐脑？
                    </div>
                    <div class="item">
                        <div class="header">不加肉的粽子都不叫粽子</div>
                        素粽子怎么可以吃得下？
                    </div>
                    <div class="item">
                        <div class="header">PHP是世界上最好的语言！</div>
                        全世界一起拍黄片！
                    </div>
                </div>
            </div>
            <div class="ui segment enemies">
                <div class="ui big horizontal list">
                    <div class="ui top attached label">公开的敌人</div>
                    <div class="item">
                        <img class="ui avatar image" src="/assets/img/helen.jpg">
                        <div class="content">
                            <div class="header">莫小莲</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="/assets/img/jenny.jpg">
                        <div class="content">
                            <div class="header">秦如烟</div>
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="/assets/img/molly.png">
                        <div class="content">
                            <div class="header">茉莉花</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}